{% extends 'base.html' %}
{%load static%}


{% block content %}
    <div class="item_1" id="avatar">
        {%if profile.photo%}
            <img src="{{profile.photo.url   }}" id="jpg_avatar" alt="">
        {% else %}
            <img src="{% static 'png/no_image.png'%}" id="jpg_avatar" alt="">
        {% endif %}
    </div>
    <div class="item_4" id="info">
        {% with profile.user as user  %}
        <p>Full name: {{user.first_name}} {{user.last_name}} </p>
        <p>Birth: {{profile.date_of_birth}}</p>
        <p>City: Baku</p>
        {% endwith %}

    </div>
    <div class="item_2" id="status">

    <div class="PublcStatus" id="pbs">
        <p>Your active status:</p>
        <p id="pbsText" style="font-style: italic; font-size: 24px;">{{public_status.status_text}}</p>
    </div>
        <br>
        {% if not my_friend_or_not and request.user.profile != profile%}
            {%if i_am_send_request%}
               <a href="#" id='add_friend'  class="btn btn-primary btn-lg disabled">
                 Sended
                </a>
            {%else%}
                <a href="#" id='add_friend'  class="btn btn-primary btn-lg">
                    + Add friend
                </a>
            {%endif%}
        {% endif %}
    </div>
    <div class="item_3" id="subscribe">
        <h5>Friend-list:</h5>
        <hr>
        <div class='friendlist'>
        {%for friend in profile.get_friends %}
            {% if friend.user_from.user == request.user.profile %}
                <p><a style="color: red;" href="{{friend.user_to.get_absolute_url}}" >{{friend.user_to.user |capfirst}}</a></p>
             <hr>
            {%elif friend.user_to.user == request.user.profile%}
                <p><a style="color: red;" href="{{friend.user_from.get_absolute_url}}" >{{friend.user_from.user |capfirst}}</a></p>
            {%elif friend.user_to.user == profile.user%}
                <p><a style="color: red;" href="{{friend.user_from.get_absolute_url}}" >{{friend.user_from.user |capfirst}}</a></p>
            {%elif friend.user_from.user == profile.user%}
                <p><a style="color: red;" href="{{friend.user_to.get_absolute_url}}" >{{friend.user_to.user |capfirst}}</a></p>
            {%else%}
                <p><a style="color: red;" href="{{friend.user_from.get_absolute.url}}" >{{friend.user_from.user |capfirst}}</a></p>
                <hr>
            {% endif %}
        {%endfor%}
        </div>
    </div>
    <div class="item_6" id="articles">
        <div class="posts">
    {%for post in posts%}
    <div class="card" data-id="{{post.id}}">
        <div class="card-header">
          {{post.created|timesince}}  ago

        </div>
        <div class="card-body" style="">
          {% autoescape off %}
          <p class="card-text">{{post.body}}</p>
          {% endautoescape %}
        </div>
      </div>
     {%endfor%}
    </div>
    </div>

{% endblock content %}
{%block js%}

$('.main-container').addClass('ad');


$("#add_friend").on('click', function(e){
    console.log('ok')
    e.preventDefault();
    let my_id = {{user.profile.id}}
    let people_id = {{profile.id}}
    let thisButton = $(this)

    $.ajax({
        url: `/api/people/add/`,
        method: 'post',
        dataType: 'json',
        data: {
            user_from : my_id,
            user_to: people_id,
        },

        success: function(data){

            $("#add_friend").addClass('disabled')
            thisButton.text('sended')
            }
    });

});

{%endblock js%}