{% extends 'base.html' %}

{%block content%}
<div class="people-container">
    <div class="people-filter">
        <p>Filter</p>
    </div>
    <div class="people-list">
        {% for peop in people%}
        <div class="card" data-id="{{peop.id}}" style="width: 15rem;height: 50px;">
            <a href="{{peop.get_absolute_url}}">
            {%if peop.photo%}
                <img src="{{peop.photo.url}}" class="card-img-top" alt="...">
            {%endif%}
            </a>
            <div class="card-body">
              <h5 class="card-title"><a href="{{peop.get_absolute_url}}">{{peop.user.first_name}}</a></h5>
              <a href="#" id='add_friend'  class="btn btn-primary">
              Add friend
              </a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock content%}

{%block js%}

$(".card").on('click', 'a.btn',function(e){
    e.preventDefault();
    let people_id = $(this).parent().parent().attr('data-id');
    let my_id = {{user.profile.id}}
    let thisButton = $(this)
    $.ajax({
        url: `/api/people/add/`,
        method: 'post',
        dataType: 'json',
        data: { 
            user_from : my_id,
            user_to: people_id,
        },
                
        success: function(data){
            thisButton.text('sended')
        }
    });
});

{%endblock js%}