
a {
    color: #000 !important;
    text-decoration: none;
  }
p ,a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

span .logout{
    background-color: red;
    border: 1px solid red;
    border-radius: 4%;
    padding: 3px;
}

.my-cs {
    margin-left: 20%;
}
body{
    background-color: rgb(248, 243, 237);
}

.booktext{
    background-color: rgb(253, 181, 47);
    color:black;
    padding: 1px 2px;
    margin-left: 1px;
}

.otherAuthBlock{
    display: block;
    
    transition: margin 5s ease-out 0.5s;
    position: absolute;
    margin-top: 5%;
    margin-left: 7%;
    background-color: rgb(248, 245, 240);
    border: 2px solid rgb(243, 193, 100);
    border-radius: 4%;
    height:370px;
    width: 35%;
    padding: 2%;
    box-shadow: 15px 30px 20px  rgb(163, 163, 162);

}

.asteriskField{
    display: none;
}


.loginBlock{
    display: block;
    
    transition: margin 5s ease-out 0.5s;
    position: absolute;
    margin-top: 5%;
    margin-left: 7%;
    background-color: rgb(248, 245, 240);
    border: 2px solid rgb(243, 193, 100);
    border-radius: 4%;
    height:370px;
    width: 35%;
    padding: 2%;
    box-shadow: 15px 30px 20px  rgb(163, 163, 162);
}
.textLogin{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
}


/* sssssssss */
.main-container{
    flex-direction: row;
    display: flex;}

.signUpBlock{   
    display: none;

    margin-top: 5%;
    margin-left: 7%;
    background-color: rgb(248, 245, 240);
    border: 2px solid rgb(243, 193, 100);
    border-radius: 4%;
    height:370px;
    width: 35%;
    padding: 2%;
    box-shadow: 15px 30px 20px  rgb(163, 163, 162);
}