
a {
    color: rgb(255, 238, 0) ;
    text-decoration: none;
  }
p ,a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
img{
    overflow: hidden;
}
span .logout{
    background-color: red;
    border: 1px solid red;
    border-radius: 4%;
    padding: 3px;
}

.my-cs {
    margin-left: 20%;
}
body{
    background-color: rgb(248, 243, 237);
}

.booktext{
    background-color: rgb(253, 181, 47);
    color:black;
    padding: 1px 2px;
    margin-left: 1px;
}

.otherAuthBlock{
    display: block;
    
    transition: margin 5s ease-out 0.5s;
    position: absolute;
    margin-top: 5%;
    margin-left: 7%;
    background-color: rgb(248, 245, 240);
    border: 2px solid rgb(243, 193, 100);
    border-radius: 4%;
    width: 35%;
    padding: 2%;
    box-shadow: 15px 30px 20px  rgb(163, 163, 162);

}

.asteriskField{
    display: none;
}

label {
    color: black;
    font-weight: bold;
    margin: 3px;
}

.chooseFileButton{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

}



.loginBlock{
    display: block;
    
    transition: margin 5s ease-out 0.5s;
    margin-top: 5%;
    margin-left: 7%;
    background-color: rgb(248, 245, 240);
    border: 2px solid rgb(243, 193, 100);
    border-radius: 4%;
    width: 35%;
    padding: 2%;
    box-shadow: 15px 30px 20px  rgb(163, 163, 162);
}
.textLogin{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
}


/* sssssssss */


.signUpBlock{   
    display: block;

    margin-top: 5%;
    margin-left: 7%;
    background-color: rgb(248, 245, 240);
    border: 2px solid rgb(243, 193, 100);
    border-radius: 4%;
    width: 40%;
    padding: 2%;
    box-shadow: 15px 30px 20px  rgb(163, 163, 162);
}


/* grid */

.ad{
    display: grid;
    grid-template-areas: 
      "avatar status subscribe"
      "info articles subscribe"
      "actions articles subscribe"   
      "actions articles friends";   
    grid-template-rows: 40vh 1fr 60px;
    grid-template-columns: 40vh 1fr 15%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
    margin-left: 5%;
    margin-top: 1vh;
}

#avatar, #status, #subscribe, #info, #actions,#articles {
    padding: 20px;
    border: 1px solid black;
}

#avatar {
    grid-area: avatar;
    display: flex;
}
#jpg_avatar{
    border: 1px solid black;
    border-radius: 50%;
}
#status {
    grid-area: status;
}
#friends{
    grid-area: friends;
    border: 1px solid black;

}
#subscribe { 
    grid-area: subscribe;
    /* align-self: flex-start; */
    overflow: scroll;
}
#info { 
    grid-area: info; 
    height: 39vh;
}
#info p{ 
    background-color: black;
    color: blanchedalmond;
}
#actions { 
    grid-area: actions; 
    height: 50vh;
    
}
#articles { 
    grid-area: articles; 
    padding: 1%;
    overflow: scroll;
}
/* end grid */

#PublicStatus{
    display: none;
}

.PublcStatus{
    border: 1px solid black;
    padding: 10px;
}

/* posts */
.card-header{
    color: rgb(228, 230, 211);
    background: linear-gradient(90deg, rgb(37, 37, 37) 0%, rgba(0,0,0,1) 81%, rgb(243, 239, 9) 100%);
}
.card-body{
    background-color: black;
    color: blanchedalmond;
}
/* ______PEOPLE PAGE */

.people-container{
    margin-top: 1vh;
    /* border: 1px solid black; */
    height: 100vh;
    width: 3fr;
    display: flex;
    flex-direction: row;
}

.people-filter{
    /* background-color: red; */
    width: 3fr;
    width: 30%;
    border: 1px solid black;


}

.people-list{
    /* background-color: black; */
    width: 100%;
    border: 1px solid black;
    margin-left: 1%;
    display: flex;
    flex-direction: row;    
}

#articles{
    overflow: scroll;
}