
<div class="new-post">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Create Post</label>
        <textarea class="form-control" placeholder="Type text here..." id="createPostBody" rows="3"></textarea>
        <br>
        <p><input type="submit" id='createPost' class="btn btn-warning float-end" value="Publish"></p>
        <br>
      </div>
</div>
<hr>
<div class="posts">
    <div class="card">
        <div class="card-header" style="   color: rgb(228, 230, 211);
        background: linear-gradient(90deg, rgb(37, 37, 37) 0%, rgba(0,0,0,1) 81%, rgb(243, 239, 9) 100%);">
          Featured
        </div>
        <div class="card-body" style="background-color: black; color: blanchedalmond;">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-warning">Go somewhere</a>
        </div>
      </div>
</div>